gmail-draft-agent.json
{
  "name": "Gmail Draft Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "de3fce7a-588e-4b53-87b5-93e467903e15",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "gGvbjov1MQr2eh7P",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a reply to the following email, then add it as a draft to the email thread.\n\n<email>\nFrom: {{ $json.headers.from }}\nSubject: {{ $json.subject }}\nMessage: {{ $json.textAsHtml }}\n</email>",
        "options": {
          "systemMessage": "=#role\nYou're an AI assistant specializing to replying to incoming email's to saif's gmail inbox.\n\n#capabilities & limitations\nYou cannot send emails. You can only create email drafts. Do not hallucinate."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "eed4d6ca-1552-46c3-b7d6-a78ee8adcea8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "bc0265ab-e53b-4a0d-a025-2c1747dea6da",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CMPqewcXnUlHdSij",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $fromAI('subject') }}",
        "message": "={{ $fromAI('message') }}",
        "options": {
          "threadId": "={{ $json.threadId }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        368,
        208
      ],
      "id": "a76738f8-263e-467a-881d-3e468bd9a5b2",
      "name": "Create draft",
      "webhookId": "e7b241ee-cf57-4eaa-930d-58ea6a8e777c",
      "credentials": {
        "gmailOAuth2": {
          "id": "gGvbjov1MQr2eh7P",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "1984ae8b0afbddea",
          "threadId": "1984ae8b0afbddea",
          "labelIds": [
            "IMPORTANT",
            "CATEGORY_SOCIAL",
            "INBOX"
          ],
          "sizeEstimate": 44295,
          "headers": {
            "delivered-to": "Delivered-To: kamal.saifkamal534@gmail.com",
            "received": "Received: from maile-da.linkedin.com (maile-da.linkedin.com. [2620:109:c003:104::201])\r\n        by mx.google.com with ESMTPS id 46e09a7af769-74148316819si1260407a34.261.2025.07.27.01.03.40\r\n        for <kamal.saifkamal534@gmail.com>\r\n        (version=TLS1_3 cipher=TLS_AES_256_GCM_SHA384 bits=256/256);\r\n        Sun, 27 Jul 2025 01:03:40 -0700 (PDT)",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IFjXm3E5yIgXbFDciZe5QhoHOfOWwIpkvsBQo0Bf4BUgGL5OMxfI55VrYUQnHjByxvZJhcR",
            "x-received": "X-Received: by 2002:a05:6830:4102:b0:73e:9fea:f299 with SMTP id 46e09a7af769-7413dd19e23mr4017499a34.16.1753603420661;\r\n        Sun, 27 Jul 2025 01:03:40 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1753603420; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=D3S/m8SdM82G6VSBz8GB6zGfdN2XoSbKHrKb6Yc5MJe0NoFws7mG9AEEaH0mSDGG9c\r\n         DEGx8bkfRvSh1XNL7aVwONOo8upEKZ3rSSfDZQVmPioWsNbRgUEq6rhRIrsNHRbhwjUn\r\n         ciPzm3r/lWR3ikiGSRshrvC9fMzIHVswQLdybAqwMZ8nCQ1vNw41ew4ELaAPQxAk0X4o\r\n         H/e19ni0lbXt3SPG1ooODwpdI+/X3KWn47MUIcrPmKXQXGadzhQ55Q74rC2ZwxcUM0DZ\r\n         Qr9+/bmRLx6+8JdsksvZtaLj5gk0CDI3E2Fsc72BzsLpvkoPpA/IeUpm5Am7egzlKG1H\r\n         cWxg==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=require-recipient-valid-since:feedback-id:list-unsubscribe-post\r\n         :list-unsubscribe:date:to:mime-version:subject:message-id:from\r\n         :dkim-signature:dkim-signature;\r\n        bh=zk6l+lludm+/bBMJx6fQA1HpWoYZYgwzPNV5x35AN0o=;\r\n        fh=OWC+RYhXZttP/TMwemJP9u9vr7sQMfi2XvBxfv+OtJg=;\r\n        b=OJsqTKknZcWlF+6+9HBJdcRN2TiWTZ3qw3eUYTnLxFpiUCUqam3sj13QolGL5DRHJy\r\n         28/27cp3u+75O2iIXQf3pVrfejDdEdUm3edeaETCrt9mO6OVdTLmjJ6vEpz2InUPHK/L\r\n         ZoHwNidEtXGzWlAx171iIRtrUz7ExoQcGqLYpv73aKiKOaBN41OxOK8hYkM7XoGR6Gjw\r\n         otcOWACiJDGtLtRy6/JQ2ktgfoC0PVi5CU0ylkHmkEX4aTOTq2OeZhdsLf6LnSvmVIhF\r\n         phoxy+KThXLDbFKo1CDw4/a7Jgyj0YXTRd2h5PEAZJ+hKdL72yPlS0Tf8mgYf+9NVINN\r\n         +IqQ==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@maile.linkedin.com header.s=d2048-202308-0e header.b=lPbu837J;\r\n       dkim=pass header.i=@linkedin.com header.s=d2048-202308-00 header.b=ZQzSiRrJ;\r\n       spf=pass (google.com: domain of s-519hn3o064v7q7975gtjh7h51r2rdbfqo6sz6xo219qjfutqidjkwisz@bounce.linkedin.com designates 2620:109:c003:104::201 as permitted sender) smtp.mailfrom=s-519hn3o064v7q7975gtjh7h51r2rdbfqo6sz6xo219qjfutqidjkwisz@bounce.linkedin.com;\r\n       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=linkedin.com",
            "return-path": "Return-Path: <s-519hn3o064v7q7975gtjh7h51r2rdbfqo6sz6xo219qjfutqidjkwisz@bounce.linkedin.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of s-519hn3o064v7q7975gtjh7h51r2rdbfqo6sz6xo219qjfutqidjkwisz@bounce.linkedin.com designates 2620:109:c003:104::201 as permitted sender) client-ip=2620:109:c003:104::201;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@maile.linkedin.com header.s=d2048-202308-0e header.b=lPbu837J;\r\n       dkim=pass header.i=@linkedin.com header.s=d2048-202308-00 header.b=ZQzSiRrJ;\r\n       spf=pass (google.com: domain of s-519hn3o064v7q7975gtjh7h51r2rdbfqo6sz6xo219qjfutqidjkwisz@bounce.linkedin.com designates 2620:109:c003:104::201 as permitted sender) smtp.mailfrom=s-519hn3o064v7q7975gtjh7h51r2rdbfqo6sz6xo219qjfutqidjkwisz@bounce.linkedin.com;\r\n       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=linkedin.com",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed; d=linkedin.com;\r\n\ts=d2048-202308-00; t=1753603419;\r\n\tbh=zk6l+lludm+/bBMJx6fQA1HpWoYZYgwzPNV5x35AN0o=;\r\n\th=From:Subject:MIME-Version:Content-Type:To:Date:X-LinkedIn-Class:\r\n\t X-LinkedIn-Template:X-LinkedIn-fbl;\r\n\tb=ZQzSiRrJhpPsgFaMsjLB7jJG0RJV1ea4mQHcWXqbr6Hisebjh1Lg+4r6wpqB9vT2D\r\n\t 0UJw21q3AE2sk3Ih52QhcC/q5ci0l5dVpu25/ad060PzTQs5ArM8eAJBQbv+MlNYmi\r\n\t 6v5U3OsmBMEw9xVm5FA3HBNDuj3uiauLrX7pfyNGEWpu1j+0qt/UxuAkYEK7Ic1KIG\r\n\t RusQoYhd/iSXHDBPtA16IZWajhy+O2JOZYwI0cAUfgypON/vkY4hP4a/Qd0Y3F4O0A\r\n\t 3rej7ULek/xORdtXJun2sdY9MkPOiW9Jd341HxUaVAUjAhFolunA9Fq3Ng7XhR01ev\r\n\t 9xcbb9Wwyzckg==",
            "from": "From: LinkedIn <notifications-noreply@linkedin.com>",
            "message-id": "Message-ID: <2076776228.21288060.1753603418879@lor1-app52766.prod.linkedin.com>",
            "subject": "Subject: You appeared in 45 searches",
            "mime-version": "MIME-Version: 1.0",
            "content-type": "Content-Type: multipart/alternative; \r\n\tboundary=\"----=_Part_21288058_1579093711.1753603418876\"",
            "to": "To: Saif Kamal <kamal.saifkamal534@gmail.com>",
            "date": "Date: Sun, 27 Jul 2025 08:03:38 +0000 (UTC)",
            "x-linkedin-class": "X-LinkedIn-Class: EMAIL-DEFAULT",
            "x-linkedin-template": "X-LinkedIn-Template: email_notification_single_search_appearance_01",
            "x-linkedin-fbl": "X-LinkedIn-fbl: m2-aszsexqbvup2hjo7ploj0ty4csujpumjsmolz2bgsh92rxj04mrh3nivd123lcnb1bao54dqz069a9epsgn632vqbh7yumik4fneq4",
            "x-linkedin-id": "X-LinkedIn-Id: 73u5pa-mdle6ry2-74",
            "list-unsubscribe": "List-Unsubscribe: <https://www.linkedin.com/comm/psettings/email-unsubscribe?lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&midToken=AQH_c6cMmoopag&midSig=32LARlZObzZHQ1&trk=eml-email_notification_single_search_appearance_01-unsub-0-unsub&trkEmail=eml-email_notification_single_search_appearance_01-unsub-0-unsub-null-73u5pa~mdle6ry2~74-null-null&eid=73u5pa-mdle6ry2-74&loid=AQEebreB7w87dwAAAZhK6KiyCH4ct7GHg3iAWt55ZlYSRf9Zb9bDw1QlFYUkibRKaPPexXGfalNQjIzyWo9EOOIqPFkZITERhVeZgf1UiuL9JdNHGJKDjRw>",
            "list-unsubscribe-post": "List-Unsubscribe-Post: List-Unsubscribe=One-Click",
            "feedback-id": "Feedback-ID: email_notification_single_search_appearance_01:linkedin",
            "require-recipient-valid-since": "Require-Recipient-Valid-Since: kamal.saifkamal534@gmail.com; Fri, 26 Jun 2015 09:23:39 +0000"
          },
          "html": "<html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en\" xml:lang=\"en\"> <head> <meta http-equiv=\"Content-Type\" content=\"text/html;charset=utf-8\"> <meta name=\"HandheldFriendly\" content=\"true\"> <meta name=\"viewport\" content=\"width=device-width; initial-scale=0.666667; user-scalable=0\"> <meta name=\"viewport\" content=\"width=device-width\"> <title></title> <style>\n              @media (max-width: 512px) { .mercado-container { width: 100% !important; } }\n            </style> <style>\n            @media (max-width: 480px) { .inline-button, .inline-button table { display: none !important; }\n            .full-width-button, .full-width-button table { display: table !important; } }\n          </style> <style>body {font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',\n            'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji',\n            'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;}</style> <!--[if mso]><style type=\"text/css\"> </style><![endif]--> <!--[if IE]><style type=\"text/css\"> </style><![endif]--> </head> <body dir=\"ltr\" class=\"font-sans bg-color-background-canvas w-full m-0 p-0 pt-1\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0px; width: 100%; background-color: #f3f2f0; padding: 0px; padding-top: 8px; font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;\"> <div class=\"h-0 opacity-0 text-transparent invisible overflow-hidden w-0 max-h-[0]\" style=\"visibility: hidden; height: 0px; max-height: 0; width: 0px; overflow: hidden; opacity: 0; mso-hide: all;\" data-email-preheader=\"true\">See who searched for your profile</div> <div class=\"h-0 opacity-0 text-transparent invisible overflow-hidden w-0 max-h-[0]\" style=\"visibility: hidden; height: 0px; max-height: 0; width: 0px; overflow: hidden; opacity: 0; mso-hide: all;\"> ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏  ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏  ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏  ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏  ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏  ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏  ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏  ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏  ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏  ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏  ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏  ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏  ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏  ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏  ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏  ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏  </div> <table role=\"presentation\" valign=\"top\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"512\" align=\"center\" class=\"mercado-container w-[512px] max-w-[512px] mx-auto my-0 p-0 \" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 0px; width: 512px; max-width: 512px; padding: 0px;\"> <tbody> <tr> <td style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\"> <table role=\"presentation\" valign=\"top\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" class=\"bg-color-background-container \" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff;\"> <tbody> <tr> <td class=\"text-center p-3\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 24px; text-align: center;\"> <table role=\"presentation\" valign=\"top\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" class=\"min-w-full\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%;\"> <tbody> <tr> <td align=\"left\" valign=\"middle\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\"> <a href=\"https://www.linkedin.com/comm/feed/?lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&amp;midToken=AQH_c6cMmoopag&amp;midSig=32LARlZObzZHQ1&amp;trk=eml-email_notification_single_search_appearance_01-header-0-home_glimmer_static_badging_with_count&amp;trkEmail=eml-email_notification_single_search_appearance_01-header-0-home_glimmer_static_badging_with_count-null-73u5pa~mdle6ry2~74-null-null&amp;eid=73u5pa-mdle6ry2-74&amp;otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D\" target=\"_blank\" class=\"w-[84px]\" style=\"color: #0a66c2; cursor: pointer; display: inline-block; text-decoration: none; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; width: 84px;\"> <img class=\"h-[37px] w-[101px]\" alt=\"LinkedIn\" src=\"https://static.licdn.com/aero-v1/sc/h/2fp5x7ci191mxbdy1eynscn59\" data-test-header-static-badging-img style=\"outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; height: 37px; width: 101px;\" width=\"101\" height=\"37\"> </a> </td> <td valign=\"middle\" align=\"right\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\"> <table role=\"presentation\" valign=\"top\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" data-test-header-profile style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\"> <tbody> <tr> <td align=\"right\" valign=\"middle\" class=\"w-[32px]\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 32px;\" width=\"32\"> <a href=\"https://bd.linkedin.com/comm/in/saif-kamal-33aaaabb?lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&amp;midToken=AQH_c6cMmoopag&amp;midSig=32LARlZObzZHQ1&amp;trk=eml-email_notification_single_search_appearance_01-header-0-profile_glimmer&amp;trkEmail=eml-email_notification_single_search_appearance_01-header-0-profile_glimmer-null-73u5pa~mdle6ry2~74-null-null&amp;eid=73u5pa-mdle6ry2-74&amp;otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D\" target=\"_blank\" style=\"color: #0a66c2; cursor: pointer; display: inline-block; text-decoration: none; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;\"> <img alt=\"Saif Kamal\" src=\"https://media.licdn.com/dms/image/v2/D5603AQGfHThid_uCWQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1720418515608?e=2147483647&amp;v=beta&amp;t=yYHofxinhoGjZW_ecDnZLHh0Yw4DZ5mMKkNXO2qWoOM\" class=\"rounded-[100%] w-[32px] h-[32px]\" style=\"outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; height: 32px; width: 32px; border-radius: 100%;\" width=\"32\" height=\"32\"> </a> </td> </tr> </tbody> </table> </td> </tr> </tbody> </table> </td> </tr> <tr> <td class=\"px-3 pb-3\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-left: 24px; padding-right: 24px; padding-bottom: 24px;\"> <div> <table role=\"presentation\" valign=\"top\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\"> <tbody> <tr> <td style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\"> <h1 class=\"text-display-sm font-semibold leading-regular text-system-gray-90 text-center\" style=\"margin: 0; text-align: center; font-size: 24px; font-weight: 600; line-height: 1.25; color: #282828;\"> You appeared in 45 searches this week </h1> </td> </tr> <tr> <td class=\"pt-3\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-top: 24px;\"> <table role=\"presentation\" valign=\"top\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\"> <tbody> <tr> <td class=\"text-center\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; text-align: center;\"> <table role=\"presentation\" valign=\"top\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"auto\" align=\"center\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\"> <tbody> <tr> <td class=\" w-6 inline-block\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; display: inline-block; width: 48px;\" width=\"48\"> <a href=\"https://www.linkedin.com/comm/company/hands-for-paws-dhaka?lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&amp;midToken=AQH_c6cMmoopag&amp;midSig=32LARlZObzZHQ1&amp;trk=eml-email_notification_single_search_appearance_01-search_appearance_card-0-organization_logo&amp;trkEmail=eml-email_notification_single_search_appearance_01-search_appearance_card-0-organization_logo-null-73u5pa~mdle6ry2~74-null-null&amp;eid=73u5pa-mdle6ry2-74&amp;otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D\" target=\"_blank\" style=\"color: #0a66c2; cursor: pointer; display: inline-block; text-decoration: none; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;\"> <img class=\"inline-block relative bg-color-entity-ghost-background w-6 h-6 !block\" src=\"https://media.licdn.com/dms/image/v2/C560BAQGsVQcVStaqHQ/company-logo_100_100/company-logo_100_100/0/1630667552973?e=1756339200&amp;v=beta&amp;t=jTBa0jTM5UAHQk0XQIpRgmWQmW7ALDNkKYB-q3OfiPU\" alt=\"Hands For Paws Dhaka\" style=\"outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; position: relative; height: 48px; width: 48px; background-color: #eae6df; display: block !important;\" width=\"48\" height=\"48\"> </a> </td> <td class=\"pl-1 w-6 inline-block\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; display: inline-block; width: 48px; padding-left: 8px;\" width=\"48\"> <a href=\"https://www.linkedin.com/comm/company/pristine-crossing-point-ltd-bd?lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&amp;midToken=AQH_c6cMmoopag&amp;midSig=32LARlZObzZHQ1&amp;trk=eml-email_notification_single_search_appearance_01-search_appearance_card-0-organization_logo&amp;trkEmail=eml-email_notification_single_search_appearance_01-search_appearance_card-0-organization_logo-null-73u5pa~mdle6ry2~74-null-null&amp;eid=73u5pa-mdle6ry2-74&amp;otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D\" target=\"_blank\" style=\"color: #0a66c2; cursor: pointer; display: inline-block; text-decoration: none; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;\"> <img class=\"inline-block relative bg-color-entity-ghost-background w-6 h-6 !block\" src=\"https://media.licdn.com/dms/image/v2/D560BAQEadPY34l3Q8A/company-logo_100_100/B56ZaqAFzjGUAU-/0/1746608873633/pristine_crossing_point_ltd_bd_logo?e=1756339200&amp;v=beta&amp;t=09RWRI-AbRVwIHsNUNQtoMgoACFnGzGLmlCU9J3ygrE\" alt=\"Pristine Crossing Point Ltd. (PCPL)\" style=\"outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; position: relative; height: 48px; width: 48px; background-color: #eae6df; display: block !important;\" width=\"48\" height=\"48\"> </a> </td> <td class=\"pl-1 w-6 inline-block\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; display: inline-block; width: 48px; padding-left: 8px;\" width=\"48\"> <a href=\"https://www.linkedin.com/comm/company/evp-vc?lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&amp;midToken=AQH_c6cMmoopag&amp;midSig=32LARlZObzZHQ1&amp;trk=eml-email_notification_single_search_appearance_01-search_appearance_card-0-organization_logo&amp;trkEmail=eml-email_notification_single_search_appearance_01-search_appearance_card-0-organization_logo-null-73u5pa~mdle6ry2~74-null-null&amp;eid=73u5pa-mdle6ry2-74&amp;otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D\" target=\"_blank\" style=\"color: #0a66c2; cursor: pointer; display: inline-block; text-decoration: none; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;\"> <img class=\"inline-block relative bg-color-entity-ghost-background w-6 h-6 !block\" src=\"https://media.licdn.com/dms/image/v2/C560BAQEiuE--ZF4FyQ/company-logo_100_100/company-logo_100_100/0/1634554897095/equity_venture_partners_logo?e=1756339200&amp;v=beta&amp;t=IKSUQiKLOs9LhrMy2sqn3q4n0dbnXdtxF4MUo7Lbyw8\" alt=\"EVP\" style=\"outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; position: relative; height: 48px; width: 48px; background-color: #eae6df; display: block !important;\" width=\"48\" height=\"48\"> </a> </td> <td class=\"pl-1 w-6 inline-block\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; display: inline-block; width: 48px; padding-left: 8px;\" width=\"48\"> <a href=\"https://www.linkedin.com/comm/company/cloudninehospitals?lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&amp;midToken=AQH_c6cMmoopag&amp;midSig=32LARlZObzZHQ1&amp;trk=eml-email_notification_single_search_appearance_01-search_appearance_card-0-organization_logo&amp;trkEmail=eml-email_notification_single_search_appearance_01-search_appearance_card-0-organization_logo-null-73u5pa~mdle6ry2~74-null-null&amp;eid=73u5pa-mdle6ry2-74&amp;otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D\" target=\"_blank\" style=\"color: #0a66c2; cursor: pointer; display: inline-block; text-decoration: none; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;\"> <img class=\"inline-block relative bg-color-entity-ghost-background w-6 h-6 !block\" src=\"https://media.licdn.com/dms/image/v2/C560BAQEqvC4NY_8qrw/company-logo_100_100/company-logo_100_100/0/1630656679329/cloudninehospitals_logo?e=1756339200&amp;v=beta&amp;t=IoiPqI08xziXZMelZpGrtuEX2lbhVaFYuxOnxJd-wE0\" alt=\"Cloudnine Group of Hospitals\" style=\"outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; position: relative; height: 48px; width: 48px; background-color: #eae6df; display: block !important;\" width=\"48\" height=\"48\"> </a> </td> <td class=\"pl-1 inline-block\" data-test-id=\"more-organizations\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; display: inline-block; padding-left: 8px;\"> <table role=\"presentation\" valign=\"top\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\"> <tbody> <tr> <td class=\"border-1 border-solid border-system-gray-80 rounded-full w-6 h-6 text-center overflow-hidden\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; height: 48px; width: 48px; overflow: hidden; border-radius: 9999px; border-width: 1px; border-style: solid; border-color: #424242; text-align: center;\" width=\"48\" height=\"48\"> <a href=\"https://www.linkedin.com/comm/me/search-appearances/?lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&amp;midToken=AQH_c6cMmoopag&amp;midSig=32LARlZObzZHQ1&amp;trk=eml-email_notification_single_search_appearance_01-search_appearance_card-0-more_companies&amp;trkEmail=eml-email_notification_single_search_appearance_01-search_appearance_card-0-more_companies-null-73u5pa~mdle6ry2~74-null-null&amp;eid=73u5pa-mdle6ry2-74&amp;otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D\" target=\"_blank\" style=\"color: #0a66c2; cursor: pointer; display: inline-block; text-decoration: none; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;\"> <span class=\"inline-block text-system-gray-90 p-1\" aria-label=\"3 more companies\" style=\"display: inline-block; padding: 8px; color: #282828;\"> +3 </span> </a> </td> </tr> </tbody> </table> </td> </tr> </tbody> </table> </td> </tr> <tr> <td class=\"pt-2 text-md leading-regular text-center\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-top: 16px; text-align: center; font-size: 16px; line-height: 1.25;\"> You were found by people from these companies </td> </tr> <tr> <td class=\"pt-2 text-center\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-top: 16px; text-align: center;\"> <table role=\"presentation\" valign=\"top\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" class=\"email-button \" data-test-id=\"email-button\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\"> <tbody> <tr> <td valign=\"middle\" align=\"middle\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\"> <a href=\"https://www.linkedin.com/comm/me/search-appearances/?lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&amp;midToken=AQH_c6cMmoopag&amp;midSig=32LARlZObzZHQ1&amp;trk=eml-email_notification_single_search_appearance_01-search~appearance~card-0-see~all~searches~button&amp;trkEmail=eml-email_notification_single_search_appearance_01-search~appearance~card-0-see~all~searches~button-null-73u5pa~mdle6ry2~74-null-null&amp;eid=73u5pa-mdle6ry2-74&amp;otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D\" target=\"_blank\" aria-label=\"See all searches\" class=\"align-top no-underline \" style=\"color: #0a66c2; cursor: pointer; display: inline-block; text-decoration: none; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; vertical-align: top; text-decoration-line: none;\"> <table role=\"presentation\" valign=\"top\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"auto\" class=\"border-separate \" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: separate;\"> <tbody> <tr> <td class=\"btn-md btn-primary border-color-brand button-link leading-regular !min-h-[auto] !shadow-none border-1 border-solid\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; height: min-content; border-radius: 24px; padding-top: 12px; padding-bottom: 12px; padding-left: 24px; padding-right: 24px; text-align: center; font-size: 16px; font-weight: 600; cursor: pointer; text-decoration-line: none; background-color: #0a66c2; color: #ffffff; border-width: 1px; border-style: solid; border-color: #0a66c2; line-height: 1.25; min-height: auto !important; box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000 !important;\"> <a href=\"https://www.linkedin.com/comm/me/search-appearances/?lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&amp;midToken=AQH_c6cMmoopag&amp;midSig=32LARlZObzZHQ1&amp;trk=eml-email_notification_single_search_appearance_01-search~appearance~card-0-see~all~searches~button&amp;trkEmail=eml-email_notification_single_search_appearance_01-search~appearance~card-0-see~all~searches~button-null-73u5pa~mdle6ry2~74-null-null&amp;eid=73u5pa-mdle6ry2-74&amp;otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D\" target=\"_blank\" tabindex=\"-1\" aria-hidden=\"true\" class=\"no-underline\" style=\"color: #0a66c2; cursor: pointer; display: inline-block; text-decoration: none; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-decoration-line: none;\"> <span class=\"no-underline text-white\" style=\"color: #ffffff; text-decoration-line: none;\"> See all searches </span> </a> </td> </tr> </tbody> </table> </a> </td> </tr> </tbody> </table> </td> </tr> </tbody> </table> </td> </tr> </tbody> </table> </div> </td> </tr> <tr> <td class=\"bg-color-background-canvas p-3\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #f3f2f0; padding: 24px;\"> <table role=\"presentation\" valign=\"top\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\"> <tbody> <tr> <td class=\"text-center pb-2\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-bottom: 16px; text-align: center;\"> <h2 class=\"text-lg text-teal-80\" style=\"margin: 0; font-weight: 500; font-size: 20px; color: #114951;\"> Get the new LinkedIn desktop app </h2> </td> </tr> <tr> <td class=\"text-center pb-2\" data-test-id=\"footer-app-store-icon\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-bottom: 16px; text-align: center;\"> <a href=\"https://apps.microsoft.com/store/detail/9WZDNCRFJ4Q7?launch=true&amp;cid=linkedin_email_upsell&amp;mode=full\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"color: #0a66c2; cursor: pointer; display: inline-block; text-decoration: none; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;\"> <img alt=\"Get it from Microsoft\" src=\"https://static.licdn.com/aero-v1/sc/h/ejpkkpwvqks31a3cjqokb7fbm\" class=\"h-[40px] w-[112px]\" style=\"outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; height: 40px; width: 112px;\" width=\"112\" height=\"40\"> </a> </td> </tr> <tr> <td class=\"text-center pb-2\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-bottom: 16px; text-align: center;\"> <h2 class=\"text-md text-teal-80\" style=\"margin: 0; font-weight: 500; font-size: 16px; color: #114951;\"> Also available on mobile </h2> </td> </tr> <tr> <td class=\"text-center\" data-test-id=\"footer-app-store-icon\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; text-align: center;\"> <a href=\"https://itunes.apple.com/us/app/linkedin/id288429040?pt=10746&amp;ct=st_appsite_flagship&amp;mt=8\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"color: #0a66c2; cursor: pointer; display: inline-block; text-decoration: none; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;\"> <img alt=\"Download on the App Store\" src=\"https://static.licdn.com/aero-v1/sc/h/76yzkd0h5kiv27lrd4yaenylk\" class=\"h-[40px] w-[120px] pr-1\" style=\"outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; height: 40px; width: 120px; padding-right: 8px;\" width=\"120\" height=\"40\"> </a> <a href=\"https://play.google.com/store/apps/details?id=com.linkedin.android&amp;referrer=st_appsite_flagship\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"color: #0a66c2; cursor: pointer; display: inline-block; text-decoration: none; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;\"> <img alt=\"Get it on Google Play\" src=\"https://static.licdn.com/aero-v1/sc/h/142qudwblp58zwmc9vkqfplug\" class=\"h-[40px] w-[134px]\" style=\"outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; height: 40px; width: 134px;\" width=\"134\" height=\"40\"> </a> </td> </tr> <tr> <td class=\"py-2\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-top: 16px; padding-bottom: 16px;\"><hr class=\"border-none bg-[#e0dfdd] h-[1px]\" style=\"height: 1px; border-style: none; background-color: #e0dfdd;\"></td> </tr> </tbody> </table> <table role=\"presentation\" valign=\"top\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" class=\"text-xs\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-size: 12px;\"> <tbody> <tr> <td class=\"pb-1 m-0\" data-test-id=\"email-footer__intended\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; margin: 0px; padding-bottom: 8px;\"> This email was intended for Saif Kamal (Software Engineer) </td> </tr> <tr> <td class=\"pb-1 m-0\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; margin: 0px; padding-bottom: 8px;\"> <a href=\"https://www.linkedin.com/help/linkedin/answer/4788?lang=en&amp;lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&amp;midToken=AQH_c6cMmoopag&amp;midSig=32LARlZObzZHQ1&amp;trk=eml-email_notification_single_search_appearance_01-SecurityHelp-0-footerglimmer&amp;trkEmail=eml-email_notification_single_search_appearance_01-SecurityHelp-0-footerglimmer-null-73u5pa~mdle6ry2~74-null-null&amp;eid=73u5pa-mdle6ry2-74&amp;otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D\" target=\"_blank\" class=\"text-inherit underline\" style=\"cursor: pointer; display: inline-block; text-decoration: none; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: inherit; text-decoration-line: underline;\">Learn why we included this.</a> </td> </tr> <tr> <td class=\"pb-1 m-0\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; margin: 0px; padding-bottom: 8px;\">You are receiving LinkedIn notification emails.</td> </tr> <tr> <td class=\"pb-1 m-0\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; margin: 0px; padding-bottom: 8px;\"> <a href=\"https://www.linkedin.com/comm/psettings/email-unsubscribe?lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&amp;midToken=AQH_c6cMmoopag&amp;midSig=32LARlZObzZHQ1&amp;trk=eml-email_notification_single_search_appearance_01-unsubscribe-0-footerGlimmer&amp;trkEmail=eml-email_notification_single_search_appearance_01-unsubscribe-0-footerGlimmer-null-73u5pa~mdle6ry2~74-null-null&amp;eid=73u5pa-mdle6ry2-74&amp;loid=AQEebreB7w87dwAAAZhK6KiyCH4ct7GHg3iAWt55ZlYSRf9Zb9bDw1QlFYUkibRKaPPexXGfalNQjIzyWo9EOOIqPFkZITERhVeZgf1UiuL9JdNHGJKDjRw\" target=\"_blank\" class=\"text-inherit underline\" style=\"cursor: pointer; display: inline-block; text-decoration: none; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: inherit; text-decoration-line: underline;\">Unsubscribe</a>   ·   <a href=\"https://www.linkedin.com/help/linkedin/answer/67?lang=en&amp;lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&amp;midToken=AQH_c6cMmoopag&amp;midSig=32LARlZObzZHQ1&amp;trk=eml-email_notification_single_search_appearance_01-help-0-footerglimmer&amp;trkEmail=eml-email_notification_single_search_appearance_01-help-0-footerglimmer-null-73u5pa~mdle6ry2~74-null-null&amp;eid=73u5pa-mdle6ry2-74&amp;otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D\" target=\"_blank\" data-test-help-link class=\"text-inherit underline\" style=\"cursor: pointer; display: inline-block; text-decoration: none; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: inherit; text-decoration-line: underline;\">Help</a> </td> </tr> <tr> <td class=\"pb-1\" style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-bottom: 8px;\"> <a href=\"https://www.linkedin.com/comm/feed/?lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&amp;midToken=AQH_c6cMmoopag&amp;midSig=32LARlZObzZHQ1&amp;trk=eml-email_notification_single_search_appearance_01-footer-0-logoGlimmer&amp;trkEmail=eml-email_notification_single_search_appearance_01-footer-0-logoGlimmer-null-73u5pa~mdle6ry2~74-null-null&amp;eid=73u5pa-mdle6ry2-74&amp;otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D\" target=\"_blank\" style=\"color: #0a66c2; cursor: pointer; display: inline-block; text-decoration: none; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;\"> <img src=\"https://static.licdn.com/aero-v1/sc/h/9ehe6n39fa07dc5edzv0rla4e\" alt=\"LinkedIn\" class=\"block h-[14px] w-[56px] image-rendering-crisp\" style=\"outline: none; text-decoration: none; image-rendering: -moz-crisp-edges; image-rendering: -o-crisp-edges; image-rendering: -webkit-optimize-contrast; image-rendering: crisp-edges; -ms-interpolation-mode: nearest-neighbor; display: block; height: 14px; width: 56px;\" width=\"56\" height=\"14\"> </a> </td> </tr> <tr> <td data-test-copyright-text style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\"> © 2025 LinkedIn Corporation, 1&zwnj;000 West Maude Avenue, Sunnyvale, CA 94085. <span data-test-trademarks-text> LinkedIn and the LinkedIn logo are registered trademarks of LinkedIn. </span> </td> </tr> </tbody> </table> </td> </tr> </tbody> </table> </td> </tr> </tbody> </table> <img alt role=\"presentation\" src=\"https://www.linkedin.com/emimp/ip_TnpOMU5YQmhMVzFrYkdVMmNua3lMVGMwOlpXMWhhV3hmYm05MGFXWnBZMkYwYVc5dVgzTnBibWRzWlY5elpXRnlZMmhmWVhCd1pXRnlZVzVqWlY4d01RPT06.gif\" style=\"outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: 1px; height: 1px;\" width=\"1\" height=\"1\"> </body> </html>",
          "text": "Saif, this is what you’ve missed on LinkedIn\n\n-----------------------------------------\n\nYou were found by people from these companies\n\n - Hands For Paws Dhaka\n - Pristine Crossing Point Ltd. (PCPL)\n - EVP\n - Cloudnine Group of Hospitals\n - Multihexa\n\nSee all searches: https://www.linkedin.com/comm/me/search-appearances/?lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&midToken=AQH_c6cMmoopag&midSig=32LARlZObzZHQ1&trk=eml-email_notification_single_search_appearance_01-search_appearance_card-0-see_more_insights_text&trkEmail=eml-email_notification_single_search_appearance_01-search_appearance_card-0-see_more_insights_text-null-73u5pa~mdle6ry2~74-null-null&eid=73u5pa-mdle6ry2-74&otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D\n  \n-----------------------------------------\n\n\n\n----------------------------------------\n\nThis email was intended for Saif Kamal (Software Engineer)\nLearn why we included this: https://www.linkedin.com/help/linkedin/answer/4788?lang=en&lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&midToken=AQH_c6cMmoopag&midSig=32LARlZObzZHQ1&trk=eml-email_notification_single_search_appearance_01-SecurityHelp-0-textfooterglimmer&trkEmail=eml-email_notification_single_search_appearance_01-SecurityHelp-0-textfooterglimmer-null-73u5pa~mdle6ry2~74-null-null&eid=73u5pa-mdle6ry2-74&otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D\nYou are receiving LinkedIn notification emails.\n\nUnsubscribe: https://www.linkedin.com/comm/psettings/email-unsubscribe?lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&midToken=AQH_c6cMmoopag&midSig=32LARlZObzZHQ1&trk=eml-email_notification_single_search_appearance_01-unsubscribe-0-textfooterglimmer&trkEmail=eml-email_notification_single_search_appearance_01-unsubscribe-0-textfooterglimmer-null-73u5pa~mdle6ry2~74-null-null&eid=73u5pa-mdle6ry2-74&loid=AQEebreB7w87dwAAAZhK6KiyCH4ct7GHg3iAWt55ZlYSRf9Zb9bDw1QlFYUkibRKaPPexXGfalNQjIzyWo9EOOIqPFkZITERhVeZgf1UiuL9JdNHGJKDjRw\nHelp: https://www.linkedin.com/help/linkedin/answer/67?lang=en&lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&midToken=AQH_c6cMmoopag&midSig=32LARlZObzZHQ1&trk=eml-email_notification_single_search_appearance_01-help-0-textfooterglimmer&trkEmail=eml-email_notification_single_search_appearance_01-help-0-textfooterglimmer-null-73u5pa~mdle6ry2~74-null-null&eid=73u5pa-mdle6ry2-74&otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D\n\n© 2025 LinkedIn Corporation, 1zwnj000 West Maude Avenue, Sunnyvale, CA 94085.\nLinkedIn and the LinkedIn logo are registered trademarks of LinkedIn.",
          "textAsHtml": "<p>Saif, this is what you&rsquo;ve missed on LinkedIn</p><p>-----------------------------------------</p><p>You were found by people from these companies</p><p> - Hands For Paws Dhaka<br/> - Pristine Crossing Point Ltd. (PCPL)<br/> - EVP<br/> - Cloudnine Group of Hospitals<br/> - Multihexa</p><p>See all searches: <a href=\"https://www.linkedin.com/comm/me/search-appearances/?lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&midToken=AQH_c6cMmoopag&midSig=32LARlZObzZHQ1&trk=eml-email_notification_single_search_appearance_01-search_appearance_card-0-see_more_insights_text&trkEmail=eml-email_notification_single_search_appearance_01-search_appearance_card-0-see_more_insights_text-null-73u5pa~mdle6ry2~74-null-null&eid=73u5pa-mdle6ry2-74&otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D\">https://www.linkedin.com/comm/me/search-appearances/?lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&midToken=AQH_c6cMmoopag&midSig=32LARlZObzZHQ1&trk=eml-email_notification_single_search_appearance_01-search_appearance_card-0-see_more_insights_text&trkEmail=eml-email_notification_single_search_appearance_01-search_appearance_card-0-see_more_insights_text-null-73u5pa~mdle6ry2~74-null-null&eid=73u5pa-mdle6ry2-74&otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D</a></p><p>-----------------------------------------</p><p>----------------------------------------</p><p>This email was intended for Saif Kamal (Software Engineer)<br/>Learn why we included this: <a href=\"https://www.linkedin.com/help/linkedin/answer/4788?lang=en&lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&midToken=AQH_c6cMmoopag&midSig=32LARlZObzZHQ1&trk=eml-email_notification_single_search_appearance_01-SecurityHelp-0-textfooterglimmer&trkEmail=eml-email_notification_single_search_appearance_01-SecurityHelp-0-textfooterglimmer-null-73u5pa~mdle6ry2~74-null-null&eid=73u5pa-mdle6ry2-74&otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D\">https://www.linkedin.com/help/linkedin/answer/4788?lang=en&lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&midToken=AQH_c6cMmoopag&midSig=32LARlZObzZHQ1&trk=eml-email_notification_single_search_appearance_01-SecurityHelp-0-textfooterglimmer&trkEmail=eml-email_notification_single_search_appearance_01-SecurityHelp-0-textfooterglimmer-null-73u5pa~mdle6ry2~74-null-null&eid=73u5pa-mdle6ry2-74&otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D</a><br/>You are receiving LinkedIn notification emails.</p><p>Unsubscribe: <a href=\"https://www.linkedin.com/comm/psettings/email-unsubscribe?lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&midToken=AQH_c6cMmoopag&midSig=32LARlZObzZHQ1&trk=eml-email_notification_single_search_appearance_01-unsubscribe-0-textfooterglimmer&trkEmail=eml-email_notification_single_search_appearance_01-unsubscribe-0-textfooterglimmer-null-73u5pa~mdle6ry2~74-null-null&eid=73u5pa-mdle6ry2-74&loid=AQEebreB7w87dwAAAZhK6KiyCH4ct7GHg3iAWt55ZlYSRf9Zb9bDw1QlFYUkibRKaPPexXGfalNQjIzyWo9EOOIqPFkZITERhVeZgf1UiuL9JdNHGJKDjRw\">https://www.linkedin.com/comm/psettings/email-unsubscribe?lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&midToken=AQH_c6cMmoopag&midSig=32LARlZObzZHQ1&trk=eml-email_notification_single_search_appearance_01-unsubscribe-0-textfooterglimmer&trkEmail=eml-email_notification_single_search_appearance_01-unsubscribe-0-textfooterglimmer-null-73u5pa~mdle6ry2~74-null-null&eid=73u5pa-mdle6ry2-74&loid=AQEebreB7w87dwAAAZhK6KiyCH4ct7GHg3iAWt55ZlYSRf9Zb9bDw1QlFYUkibRKaPPexXGfalNQjIzyWo9EOOIqPFkZITERhVeZgf1UiuL9JdNHGJKDjRw</a><br/>Help: <a href=\"https://www.linkedin.com/help/linkedin/answer/67?lang=en&lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&midToken=AQH_c6cMmoopag&midSig=32LARlZObzZHQ1&trk=eml-email_notification_single_search_appearance_01-help-0-textfooterglimmer&trkEmail=eml-email_notification_single_search_appearance_01-help-0-textfooterglimmer-null-73u5pa~mdle6ry2~74-null-null&eid=73u5pa-mdle6ry2-74&otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D\">https://www.linkedin.com/help/linkedin/answer/67?lang=en&lipi=urn%3Ali%3Apage%3Aemail_email_notification_single_search_appearance_01%3B%2BQN%2B2iYCTkGrBHW4hNxiAg%3D%3D&midToken=AQH_c6cMmoopag&midSig=32LARlZObzZHQ1&trk=eml-email_notification_single_search_appearance_01-help-0-textfooterglimmer&trkEmail=eml-email_notification_single_search_appearance_01-help-0-textfooterglimmer-null-73u5pa~mdle6ry2~74-null-null&eid=73u5pa-mdle6ry2-74&otpToken=MTYwNzE3ZTcxMjI3YzhjMWI0MjQwNGVkNDMxZGUxYjQ4Y2NhZDE0OTlhYWU4NjYxNzBjMDA2Njk0OTViNWJmNWY2ZGNkZmU1NThjMmJiZmI2M2JkZjFlODUzY2VkZDdmZWNmMDc5MjU0N2IyMThmM2E1MmZlYSwxLDE%3D</a></p><p>&copy; 2025 LinkedIn Corporation, 1zwnj000 West Maude Avenue, Sunnyvale, CA 94085.<br/>LinkedIn and the LinkedIn logo are registered trademarks of LinkedIn.</p>",
          "subject": "You appeared in 45 searches",
          "date": "2025-07-27T08:03:38.000Z",
          "to": {
            "value": [
              {
                "address": "kamal.saifkamal534@gmail.com",
                "name": "Saif Kamal"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Saif Kamal</span> &lt;<a href=\"mailto:kamal.saifkamal534@gmail.com\" class=\"mp_address_email\">kamal.saifkamal534@gmail.com</a>&gt;</span>",
            "text": "\"Saif Kamal\" <kamal.saifkamal534@gmail.com>"
          },
          "from": {
            "value": [
              {
                "address": "notifications-noreply@linkedin.com",
                "name": "LinkedIn"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">LinkedIn</span> &lt;<a href=\"mailto:notifications-noreply@linkedin.com\" class=\"mp_address_email\">notifications-noreply@linkedin.com</a>&gt;</span>",
            "text": "\"LinkedIn\" <notifications-noreply@linkedin.com>"
          },
          "messageId": "<2076776228.21288060.1753603418879@lor1-app52766.prod.linkedin.com>"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create draft": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ea78003c-cd57-47f6-8a4f-2d99cb727cb3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b3c16ec41e85b3584be131b5515c638ca3963efad6f1c753d483ef391689444"
  },
  "id": "AGK96XvVKAiyZf5j",
  "tags": []
}